In [13]:
import numpy as np
import pandas as pd
import patsy as pt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

In [3]:
data = pd.read_csv("https://github.com/dustywhite7/Econ8310/raw/master/AssignmentData/assignment3.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14169 entries, 0 to 14168
Data columns (total 84 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   id                                      14169 non-null  object
 1   DateTime                                14169 non-null  object
 2   Total                                   14169 non-null  float64
 3   Discounts                               14169 non-null  float64
 4   Brewed_Coffee_12_oz                     14169 non-null  int64
 5   Brewed_Coffee_16_oz                     14169 non-null  int64
 6   Aquafina_Water                          14169 non-null  int64
 7   Muffin_Pastry_Case                      14169 non-null  int64
 8   Extra_Syrup                             14169 non-null  int64
 9   Bottled_Soda_Mt_Dew                     14169 non-null  int64
 10  Bottled_Soda_Diet_Pepsi                 14169 non-null  int64
 11  Latte_16_oz                             14169 non-null  int64
 12  Latte_12_oz                             14169 non-null  int64
 13  Original                                14169 non-null  int64
 14  String_Cheese                           14169 non-null  int64
 15  Soda_Fountain_24_oz                     14169 non-null  int64
 16  Starbucks_DS_Vanilla                    14169 non-null  int64
 17  Bottled_Soda_Wild_Cherry                14169 non-null  int64
 18  Gatorade_Glacier_Freeze                 14169 non-null  int64
 19  TeaSmith_Tea_16_oz                      14169 non-null  int64
 20  Iced                                    14169 non-null  int64
 21  Bottled_Soda_Diet_Mt_Dew                14169 non-null  int64
 22  Candy_Snickers                          14169 non-null  int64
 23  Tea_Unsweetened                         14169 non-null  int64
 24  Bottled_Soda_Code_Red                   14169 non-null  int64
 25  Chips_Kettle_Jalapeo                    14169 non-null  int64
 26  Chex_Mix_Traditional                    14169 non-null  int64
 27  Rockstar_Zero_Punched                   14169 non-null  int64
 28  Ocean_Spray_Apple                       14169 non-null  int64
 29  Americano_16_oz                         14169 non-null  int64
 30  TeaSmith_Tea_12_oz                      14169 non-null  int64
 31  Tea_Half_and_Half                       14169 non-null  int64
 32  Chips_Kettle_Sea_Salt                   14169 non-null  int64
 33  Mocha_16_oz                             14169 non-null  int64
 34  Nuts_Cashews                            14169 non-null  int64
 35  Chips_Kettle_BBQ                        14169 non-null  int64
 36  Tea_Sweetened                           14169 non-null  int64
 37  Gatorade_Orange                         14169 non-null  int64
 38  Chex_Mix_Cheddar                        14169 non-null  int64
 39  Candy_KitKat                            14169 non-null  int64
 40  Parfait_Strawberry                      14169 non-null  int64
 41  Gatorade_Cool_Blue                      14169 non-null  int64
 42  Cheez_It_Original                       14169 non-null  int64
 43  Bottled_Soda_Pepsi                      14169 non-null  int64
 44  Nuts_Hot_n_Spicy_Peanuts                14169 non-null  int64
 45  Candy_Peanut_Butter_MM's                14169 non-null  int64
 46  Ocean_Spray_Orange                      14169 non-null  int64
 47  Kickstart_Raspberry                     14169 non-null  int64
 48  Kickstart_Orange                        14169 non-null  int64
 49  Candy_Reeses                            14169 non-null  int64
 50  Extra_Espresso                          14169 non-null  int64
 51  Clif_Bar_White_Chocolate_Macadamia_Nut  14169 non-null  int64
 52  Candy_Twix                              14169 non-null  int64
 53  Western's_Jerky_Beef                    14169 non-null  int64
 54  Pringles_Original                       14169 non-null  int64
 55  Nuts_Salted_Peanuts                     14169 non-null  int64
 56  Pringles_Sour_Cream_Onion               14169 non-null  int64
 57  Chocolate_Muscle_Milk                   14169 non-null  int64
 58  Kickstart_Pineapple_Orange_Mango        14169 non-null  int64
 59  MM                                      14169 non-null  int64
 60  Turtle_16_oz                            14169 non-null  int64
 61  Kickstart_Grape                         14169 non-null  int64
 62  Parfait_Blueberry                       14169 non-null  int64
 63  Moroccan_Mint                           14169 non-null  int64
 64  SoBe_Life_Acai                          14169 non-null  int64
 65  White_Mocha_16_oz                       14169 non-null  int64
 66  Gum_Spearmint                           14169 non-null  int64
 67  Kickstart_Mango_Lime                    14169 non-null  int64
 68  Clif_Bar_Brownie_Bar                    14169 non-null  int64
 69  Cheez_It_White_Cheddar                  14169 non-null  int64
 70  Starbucks_Mocha_Frap                    14169 non-null  int64
 71  Gatorade_Fruit_Punch                    14169 non-null  int64
 72  Hot_Chocolate_12_oz                     14169 non-null  int64
 73  Cup                                     14169 non-null  int64
 74  Sweet_Pomegranate                       14169 non-null  int64
 75  Gatorade_Grape                          14169 non-null  int64
 76  White_Mocha_12_oz                       14169 non-null  int64
 77  Whipped_Topping                         14169 non-null  int64
 78  Starbucks_DS_Mocha                      14169 non-null  int64
 79  Hot_Chocolate_16_oz                     14169 non-null  int64
 80  Dr_Pepper                               14169 non-null  int64
 81  Ocean_Spray_CranGrape                   14169 non-null  int64
 82  Gum_Peppermint                          14169 non-null  int64
 83  meal                                    14169 non-null  int64
dtypes: float64(2), int64(80), object(2)
memory usage: 9.1+ MB

In [ ]:
Y = data['meal']
X = data.drop(['id', 'DateTime', 'meal'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.7, random_state=21)

In [ ]:
model = tree.DecisionTreeClassifier()
modelFit = model.fit(x_train, y_train)

In [14]:
print(f"train accuracy: {accuracy_score(y_train,modelFit.predict(x_train))}")
print(f"\ntest accuracy: {accuracy_score(y_test,modelFit.predict(x_test))}")

train accuracy: 0.9663529411764706

test accuracy: 0.8588567395906845

In [ ]:
test_data = pd.read_csv("https://github.com/dustywhite7/Econ8310/raw/master/AssignmentData/assignment3test.csv").drop(['id', 'DateTime', 'meal'], axis=1)

In [20]:
test_data

,Total,Discounts,Brewed_Coffee_12_oz,Brewed_Coffee_16_oz,Aquafina_Water,Muffin_Pastry_Case,Extra_Syrup,Bottled_Soda_Mt_Dew,Bottled_Soda_Diet_Pepsi,Latte_16_oz,...,Cup,Sweet_Pomegranate,Gatorade_Grape,White_Mocha_12_oz,Whipped_Topping,Starbucks_DS_Mocha,Hot_Chocolate_16_oz,Dr_Pepper,Ocean_Spray_CranGrape,Gum_Peppermint
0,4.06,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.74,0.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.25,0.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2.20,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.01,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0